.intro {
    text-align: center;
    background-color: lightblue;
    margin: -10px;
    margin-bottom: 0px;
    
}


.banner-side {
    text-align: left;
    width: 100%;
    border: 10px solid lightgreen;
    margin-left: -10px;
    max-width: fit-content;
    background-color: lightgrey;
}

.links-left {
    background-color: lightgrey;
    text-align: left;
    width: 60px;
    margin: 10px;
    margin-left: 0px;
}

#p-one {
    border: 5px solid lightseagreen;
    margin: 20px;
    text-align: center;
    margin: 10px 20px;
    /* This selects top and bottom margin with ten and the left and right margin with 20. */
    
}

.button {
    display: block;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.flex-container div {
    background-color: peachpuff;
    border: 5px solid aqua;
    height: 100px;
    flex: 1;
    /* Flex 1 makes all the flex items grow an equal amount */
}
